.background {
    background: rgb(105, 153, 189);
    table-layout: fixed;
    border-spacing: 0;

}

.background td {
    padding: 0
}

.wall {
    background: rgb(111, 69, 58)
}

.lava {
    background: rgb(232, 12, 1)
}

.coin {
    background: rgb(241, 229, 89);
}

.player {
    background: rgb(64, 64, 64);
}